# FileManager .gitignore
# Author: Lauri Westerholm

# Ignore compiled files
bin/*
test/*
# However, do not ignore the Makefiles and source files
!bin/Makefile
!test/Makefile
!test/*.c

# Ignore temporary glade files
*.glade~
